.projects-block {
    max-width: 120rem;
    margin: 0px auto;
    background-color: rgb(30, 30, 30);
    display: flex;
    color: aliceblue;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 70vh;
    flex-wrap: wrap;
}

.projects-block-text {
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 4.4rem;
}