.team-block {
    position: relative;
}

.designElement-horizontal {
    position: absolute;
    width: 100%;
}

.our-team-block-title {
    font-size: 3.75rem;
    line-height: 4.4rem;
    color: #FFFFFF;
}

.our-team-block-names {
    font-family: 'Roboto';
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.our-team-block-names-element {
    border-bottom: 1px solid rgba(171, 174, 183, 0.3);
    font-family: 'Roboto';
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.03em;
    padding-bottom: 15px;
}

.our-team-block {
    margin-top: 8.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team-content {
    flex: 1 1 75rem;
}

.our-team-block-name {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.3em;
    color: #FFC978;
}

.our-team-block-photo {
    margin-top: 3.75rem;
    margin-bottom: 3.15rem;
    width: 100%;
}


@media screen and (max-width: 118rem) {
    .our-team-content {
        max-width: 80.5rem;
        flex: 1 1;
    }

}

@media screen and (max-width: 75rem) {
    .our-team-content {
        width: auto;
        padding: 0 50px;
    }
}


@media screen and (max-width: 37.5rem) {
    .our-team-content {
        padding: 0 30px;
    }

    .our-team-block-names-element {
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.02em;
    }

    .our-team-block-title {
        font-size: 2.6rem;
    }

    .our-team-block-photo {
        margin-top: 3rem;
        width: 100%;
    }
}