.picture-carusel-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 120px;
    overflow: auto;
    white-space: nowrap;
}

@media screen and (min-width: 1921px) {

}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 320px) {

}