.home-page-firstblock {
    display: flex;
    flex-direction: row;
}

.home-page-architecture-design {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../../../images/path.png);
    background-repeat: no-repeat;
    flex: 1;
}

.home-page-architecture-img {
    margin-top: -115px;
    flex: 1;
    width: 100%;
}

.star-box {
    align-self: flex-end;
    margin: 7.75rem 8.6rem 2.6rem 0rem;
}

.home-page-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 4.3rem 10.6rem 6.2rem;
}

.home-page-aboutcompany-comp {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.31em;
    color: #FFC978;
    margin-bottom: 1.9rem;
}

.home-page-aboutcompany-compName {
    font-size: 5.25rem;
    line-height: 5.4rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.home-page-aboutcompany-title {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #ABAEB7;
    font-family: 'Roboto';
    margin-bottom: 3.2rem;
}

.home-page-aboutcompany-desElement {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 10.6rem;
    line-height: 8.1rem;
    color: rgba(11, 14, 23, 0.4);
}


@media (max-width: 118rem) {
    .home-page-architecture-img {
        width: 50%;
    }
}

@media (max-width: 92rem) {
    .star-box {
        margin: 4rem 8.2rem 2rem 0rem;
    }

    .home-page-about {
        margin: 0rem 3.4rem 6rem 6.2rem;
    }

    .home-page-aboutcompany-compName {
        font-size: 4.8rem;
    }

    .home-page-aboutcompany-desElement {
        line-height: 0rem;
        display: none;
    }
}

@media (max-width: 87.18rem) {
    .home-page-aboutcompany-compName {
        font-size: 4.2rem;
    }
}


@media (max-width: 82.5rem) {
    .star-box {
        display: none;
    }

    .home-page-about {
        margin: 4.8rem 4.2rem 3.6rem 6.2rem;
    }

    .home-page-aboutcompany-title {
        font-size: 1rem;

    }

    .home-page-firstblock {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 48rem) {
    .home-page-about {
        margin: 4.8rem 8rem 3.6rem 1.87rem;
    }

    .home-page-aboutcompany-compName {
        font-size: 3rem;
        line-height: 3.8rem
    }

    .home-page-aboutcompany-title {
        max-width: 490px;
    }
}


@media screen and (max-width: 32.5rem) {
    .home-page-about {
        max-width: 350px;
    }

    .home-page-architecture-design {
        background-image: none;
    }
}