.header-info {
    max-width: 120rem;
    margin: 0px auto;
    background-color: rgb(30, 30, 30);
    padding: 1.8rem 6.1rem 0rem 6.1rem;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ABAEB7;
    flex: 1;
}

.header-logo {
    color: #ffffff;
    font-size: 3.1rem;
    line-height: 60px;
    text-decoration: none;
    flex: 1;
}

.header-navigation-nav {
    font-family: 'Roboto';
    font-size: 16px;
    display: flex;
    flex: 2;
}

.header-navigation-ul {
    display: flex;
    gap: 35px;
}

.header-navigation-li {
    list-style-type: none;
}

.header-navigation-element {
    text-decoration: none;
    color: #ABAEB7;
}

.header-contact {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.contact-button {
    padding: 14px 30px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 1rem;
    transition-duration: 0.4s;
}

.contact-button:hover {
    background-color: #abaeb763;
}

.contact-button-menu {
    display: none;
}

@media (max-width: 92rem) {
    .header-navigation-nav {
        flex: none;
    }

    .padding-r {
        padding-right: 15px;
    }
}

@media (max-width: 82.5rem) {
    .header-navigation-block {
        justify-content: space-between;
        gap: 35px
    }

    .padding-r {
        padding-right: 15px;
    }
}


@media (max-width: 55rem) {

    .header-info {
        padding: 1.8rem 1.87rem 0rem 1.87rem;
    }

    .header-navigation-block {
        justify-content: space-between;
        gap: 35px
    }

    .padding-r {
        padding-right: 15px;
    }
}


@media (max-width: 48rem) {

    .header-navigation-nav,
    .contact-button {
        display: none;
    }

    .contact-button-menu {
        border: none;
        background: none;
        cursor: pointer;
        display: block;
    }

}