.home-page-aboutcompany-button {
    padding: 20px 35px;
    gap: 10px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    transition-duration: 0.4s;
}

.home-page-aboutcompany-button:hover {
    background-color: #abaeb763;
}

.lwt {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.input-form-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.input-form-block-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    margin: 6px 0;
    padding: 10px;
    width: 250px;
}

.textareaStyle {
    height: 100px;
    resize: none;
}

.output-info {
    color: #D7E0E1;
}

.home-page-aboutcompany-button-black {
    padding: 20px 35px;
    gap: 10px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    transition-duration: 0.4s;
    box-shadow: 0 0 15px #d6d6d6;
    margin-top: 10px;
}

.home-page-aboutcompany-button-black:hover {
    background-color: #abaeb763;
    color: #fff;
    text-decoration: none;
}